[submodule "workspace/experiments"]
	path = workspace/experiments
	url = git@github.com:iresharma/codeloom.experiments.git
[submodule "workspace/pages"]
	path = workspace/pages
	url = git@github.com:iresharma/codeloom.pages.git
[submodule "workspace/engine"]
	path = workspace/engine
	url = git@github.com:iresharma/codeloom.engine.git
