[submodule "workspace/experiments"]
	path = workspace/experiments
	url = git@github.com:iresharma/codeloom.experiments.git
[submodule "workspace/pages"]
	path = workspace/pages
	url = git@github.com:iresharma/codeloom.pages.git
[submodule "workspace/engine"]
	path = workspace/engine
	url = git@github.com:iresharma/codeloom.engine.git
[submodule "workspace/TUI"]
	path = workspace/TUI
	url = git@github.com:iresharma/codeloom.TUI.git

[submodule "workspace/cloud-controller"]
	path = workspace/cloud-controller
	url = git@github.com:iresharma/codeloom.cloud-controller.git
